<div class = "col-sn-8 blog-main">
  <%#= render @blogs %>
  <%= render partial: @blogs, spacer_template: 'blog_ruler' %>

  <nav class="blog-pagination">
  	<a class="btn btn-outline-primary">
   	<a class="btn btn-outline-secondary">
  </nav>

</div>
