<h1> Portfolio Items </h1>

<% portfolio_items.each do |portfolio_item| %>
	<p><%= portfolio.item.title %></p>
	<p><%= portfolio.item.subtitle %></p>
	<p><%= portfolio.item.body %></p>
	<!-- <p>portfolio.item.main_image</p>       ***not included as it is not needed on the home page for now-->
	<p><%= portfolio.item.thumb_image %></p>
<% end %>
