<h3>Hi,  <%= current_user.first_name %></h3>
<!-- <p id="notice"><%= notice %></p> -->
<h1> Portfolio Items </h1>

<%= link_to 'Create a New Portfolio item', new_portfolio_path %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
