<div class="row">
  <div class="col-md-6">
   <%= image_tag "unsplash.jpg", width: 300, height: 250, alt: "Profile image" %>
  </div>
  <div class="col-md-6 about_page">
   <h3>About Me</h3>
   <p>Find me in app/views/pages/about.html.erb</p>
   <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla vitae neque nisi. Aliquam et quam auctor, tincidunt nisl nec, elementum metus. Aliquam rhoncus nec massa eu sagittis. Curabitur dapibus dictum dolor, non scelerisque libero maximus sed. </p>
  </div>
</div>
